# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 

    1. C++ 
    
    2. Java 
    
    3. Python 
    
**Objectives:**

* List popular languages for Data Science

Some of the commonly used libraries used by Data Scientists include:

    1.ggplot
    
    2.pandas
    
    3.numpy

|Data Science Tools|
|-|
|RStudio|
|ApacheSpark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Goksu